 /*
 * Copyright (c) 2023 ZitaoTech
 * "BlueBerry" Android Layout by Drexel Macintosh    
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
 
#define ALT 1
#define UPPER 2
#define MEDIA 3

// Standard Behavior Configurations:

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    };

&sk{
    release-after-ms = <2500>;
    };

&sl {
    release-after-ms = <2500>;
    };

/ {

//Behaviors Start Here:

    behaviors {

// Tap Dance Behaviors

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };

        ALTL: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&sl ALT>, <&to ALT>;
        };

        SHFT: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sk LSHFT>, <&kp CLCK>;
        };

        MED: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sl MEDIA>, <&to MEDIA>;
        };

        MAN: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&to 0>, <&to UPPER>;
        };

        EALT: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sk LALT>, <&kp LALT>;
        };

// Macro Behaviors

    tap: tap {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
   	 };

// Hold Tap Behaviors

	KPM: behavior_KPM {
            compatible = "zmk,behavior-hold-tap";
            label = "KPM";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            bindings = <&msc>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };

        hm2: homerow_mods_2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&ext_power &kp>;
        };

  	mtt: mod_tap_tap {
		compatible = "zmk,behavior-hold-tap";
		#binding-cells = <2>;
	     	flavor = "tap-preferred";
	      	tapping-term-ms = <200>;
	      	quick-tap-ms = <125>;
	      	require-prior-idle-ms = <125>;
	      	bindings = <&tap>, <&tap>;
   	 };

	msk: mod_Stick_Pre {
	      compatible = "zmk,behavior-hold-tap";
	      #binding-cells = <2>;
	      flavor = "tap-preferred";
	      tapping-term-ms = <200>;
	      quick-tap-ms = <125>;
	      require-prior-idle-ms = <125>;
	      bindings = <&kp>, <&sk>;
   	 };

	alt_to: behavior_alt_to {
            compatible = "zmk,behavior-hold-tap";
            label = "alt_to";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings = <&kp>, <&to>;
        };

//End Behvaiors here
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <

        /*
         *    KEYBOARD LAYOUT - ASCII by KyleBing
         *
                              ---------------------                                                                -------------------------
                             |    Shoulder Key1    |                                                              |      Shoulder Key2      |
                 ---------------------------------------------------------------------------------------------------------------------------------------------------
                |        Call key        |   Blackberry Key    |              Trackpad            |             Back Key           |          Endcall Key           |
                -----------------------------------------------------------------------------------------------------------------------------------------------------
                |     Q      |     W     |     E    |     R    |         T       |       Y        |        U       |       I       |        O        |      P       |
                -----------------------------------------------------------------------------------------------------------------------------------------------------
                |     A      |     S     |     D    |     F    |         G       |       H        |        J       |       K       |        L        |      ←       |
                -----------------------------------------------------------------------------------------------------------------------------------------------------
                 \    alt    |     Z     |     X    |     C    |         V       |       B        |        N       |       M       |        $        |    Enter    /
                   -----------------------------------------------------------------------------------------------------------------------------------------------
                              \      aA        |       0        |                    SPACE                  |          SYM          |         aA    /
                                -------------------------------------------------------------------------------------------------------------------
        */
                 		&to  0                                                                                	&MAN

		            &mtt  K_CMENU TAB		 &kp LGUI		      &mkp LCLK			&mtt ESC K_BACK		 &mkp RCLK

    &mtt LS(Q) Q	&mtt LS(W) W      &mtt LS(E) E	&mtt LS(R) R     &mtt LS(T) T	&mtt LS(Y) Y	&mtt LS(U) U	&mtt LS(I) I	&mtt LS(O) O	    &mtt LS(P) P
    &mtt LS(A) A	&mtt LS(S) S      &mtt LS(D) D	&mtt LS(F) F     &mtt LS(G) G	&mtt LS(H) H	&mtt LS(J) J	&mtt LS(K) K	&mtt LS(L) L        &kp BSPC
    &ALTL		&mtt LS(Z) Z      &mtt LS(X) X	&mtt LS(C) C     &mtt LS(V) V	&mtt LS(B) B	&mtt LS(N) N	&mtt LS(M) M	&mtt K_STOP LG(N)   &kp ENTER

    		         &SHFT				 &mtt LG(A) K_PWR	      &kp SPACE			&EALT		 &sk LCTRL

            >;
        };


        alt_layer {

            bindings = <        
                		&to  0                                                                            	 &to  0

    	         	&mtt K_PREV K_VOL_DN		 &kp K_SCROLL_UP	        &kp K_PP			&kp K_SCROLL_DOWN	 &mtt K_NEXT K_VOL_UP

    &mtt TILDE HASH	   	&mtt HOME N1	   &mtt UP	N2	   &mtt END     N3	   &mtt LBKT LPAR	&mtt RBKT RPAR	   &mtt LT UNDER     &mtt GT MINUS	 &mtt CARET PLUS	&mtt PERCENT AT
    &mtt EQUAL STAR		&mtt LEFT N4	   &mtt DOWN	N5	   &mtt RIGHT	N6	   &mtt BSLH SLASH	&mtt PIPE COLON	   &mtt AMPS SEMI    &mtt APOS APOS	 &mtt DQT DQT     	&mtt DEL BSPC
    &to  0      	     	&mtt N7 N7	   &mtt N8	N8	   &mtt N9	N9	   &mtt LBRC QMARK	&mtt RBRC EXCL	   &mtt GRAVE COMMA  &mtt DOT DOT	 &mtt PSCRN DLLR 	&kp ENTER
	
    		         &SHFT				 &hm2 EP_TOG N0 		&kp SPACE			&sk LALT		 &sk LCTRL


            >;
        };

        upper_layer {

            bindings = <        
                 &to  0                                                                                       &to  0

    		&bt BT_SEL 0            	 &bt BT_SEL 1                 &bt BT_CLR                &bt BT_SEL 2             &bt BT_SEL 3

    &none       	&none   	&none     	&sys_reset	&ext_power EP_TOG	   &none         	&none	           &none           &none      	   &none
    &none   		&none	  	&none	 	&none     	&none	          	   &none     	 	&none	           &none	   &none      	   &none
    &to  0  		&none    	&none    	&none      	&bl BL_DEC       	   &bl BL_TOG   	&bl BL_INC         &none           &bootloader     &none

    		&to  0               		 &none	               	      &out OUT_TOG              &none                    &none
            >;
        };

        media_layer {

            bindings = <        
		&to  0													&to  0
 
    &none			&none			&none				&none				&none  

    &none		&none     	&none    	&none  	  		&none			&none		&none    	&none	 	 &none		&none
    &none	     	&none   	&none      	&none	 		&none		     	&none	      	&none       	&none       	 &none		&none
    &none     	 	&none     	&none     	&none    		&none	     		&none		&none       	&none       	 &none		&none
	
    &none			&to  0			&none				&none				&none
            >;
        };
    };
};
